@model GetShopDetailsByIdDTO

<div class="container">

  <div class="p-2 bg-black text-center">

    <h5>صاحب المحل/ @Model.User?.Name</h5>
    <p>رقم الهاتف/ @Model.User?.Phone </p>

  </div>
  <div class="p-2 m-2">

    <div class="row middle">
      <ul class="search_shops">

        <li class="nav-item">
          <asp:DropDownList ID="ddlSubCategory" runat="server" AutoPostBack="True"
            onselectedindexchanged="ddlSubCategory_SelectedIndexChanged">
          </asp:DropDownList>
        </li>

      </ul>
    </div>

    <div class="row middle">

      @foreach (var product in Model.Products!)
      {
        <div class="col-sm-12 col-md-4 product-border">
          <br>
          </br>
          <br>
          </br>
          <img src="~/images/proCover.jpg" class="product-cover" />
          @if (product.InterfaceImage != null)
          {
            <img alt="hh" src="~/images/ProductImages/@product.InterfaceImage.Name" class="product-image">
          }


    <div class="card text-center" style="background:none; border:none;">
  <div class="card-body product-selected">
    <h3 class="card-title">@product.Name</h3>
    <a  href="/product/details/@product.ID"
         class="btn btn-primary">عرض</a>
  </div>
</div>
        </div>
      }

    </div>
  </div>

    <section class="Rating_Section" style="background-color:black;">
      <div class="container my-5 py-5"> 
            <h2 class="p-2 text-center">أراء و تقييمات العملاء</h2>
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 col-lg-10 col-xl-8">
            <div class="card">
              
    @foreach(var rating in Model.ClientsRatings!){
              <div class="rating-comment-lists card-body p-4 bg-dark" >
                <div>
                <hr/>
                <div class="d-flex flex-start">
    
                  <div>
                    <h6 class="fw-bold mb-1">
                      @rating.UserName
                    </h6>      
                    <div class="small mb-0">
                      @rating.Datetime
                    </div>
                     <div class="small mb-0">
                          @for (int i = 0; i < rating.Value; i++)
    {
        <i class="fa fa-star"></i>
    }
                     </div>
                    
                    <p class="mb-0">
                    @{
                        if (@rating.Status == string.Empty)
                        {
                            <td>جارى مراجعة التعليق</td>
                        }
                        else
                        {
                            <td>@rating.Comment</td>
                        }

                    }
                    </p>
                  </div>
                </div>
                  @if(User.Identity?.Name!=null && User.Identity?.Name!=Model.User?.Name && ViewBag.AddingRating==false){
                <div class="float-end mt-2 pt-1">
                   <a href="/shop/deleteRating/@rating.ID"
                            onclick="return confirm('هل أنت متأكد من أنك تريد حذف هذا التقييم ؟')"
                            class="btn btn-danger">حذف</a>
                </div>
                }
              </div>
              </div>
    }
      @if(User.Identity?.Name!=null && User.Identity?.Name!=Model.User?.Name && ViewBag.AddingRating==true)
      {
<form method="post" class="Insert_Comment_And_Rating card-footer py-3 border-0 bg-dark" style="background-color: white;">
    <div class="d-flex flex-start w-100">
      <div class="form-outline w-100">
        <div class="starrating">  
        @for(int i=5;i>0;i--){
       <input id="star @i" type="radio" asp-for="AddRating!.Value" value="@i">   
        <label for="star @i" title="@i Stars"></label>  
        }
    </div> 
    
        <textarea class="form-control text-light bg-secondary border border-light rounded-3"  asp-for="AddRating!.Comment" rows="1"></textarea>
      </div>
    </div>
    <div class="float-end mt-2 pt-1 pb-3">    
<button class="btn btn-outline-light" type="submit">إرسال</button>
    </div>
 </form> 
}
            </div>
           </div>
        </div>
      </div>
  </section> 
</div>

  