@addTagHelper *,Mahalak
@{
    ViewData["Title"] = "Privacy Policy";
}

@model  List<GetAllPaginatedShopsByUserIdDTO>
  <div class="text-center">
    <table class="table table-responsive table-dark table-hover">
        <caption class="caption-top">
   <a class="btn btn-primary" href="/shop/create/">أضف محل جديد</a>
</caption>
        <thead>
            <th scope="col">#</th>
            <th scope="col">أسم المحل</th>
            <th scope="col">الحالة</th>
            <th scope="col">تاريخ الأضافة</th>
            <th></th>
        </thead>
        <tbody>

            @{
                
                
                int count=0;
                foreach (var shop in Model)
            {
                count++;
                <tr>
                    <th scope="row">@count</th>
                    <td>@shop.Name</td>
                  @{
                        if (@shop.Status == string.Empty)
                        {
                          <td>فى أنتظار الموافقة</td>
                        }
                        else
                        {
                            <td>@shop.Status</td>
                        }

                    }

                    <td>@shop.CreatingDate</td>

                    <td><a class="btn btn-danger mb-1"
                            href="/shop/details/@shop.ID">عرض</a>
                        <a class="btn btn-danger mb-1"
                            href="/shop/edit/@shop.ID">تعديل</a>
                        <a class="btn btn-danger mb-1"
                           href="/products/@shop.ID/1">إدارة المنتجات</a>
                        <a class="btn btn-danger mb-1"
                           href="/shop/delete/@shop.ID"
                            onclick="return confirm('هل أنت متأكد من أنك تريد حذف هذا المنتج ؟')">حذف</a>
                    </td>
                </tr>
            }
            }
        </tbody>
    </table>
</div>
@if(ViewBag.ShopsCount!=0){
 <vc:pagination page-size="9" list-length="@ViewBag.ShopsCount" action-name="index" controller-name="shop">
 </vc:pagination> }

@if ((bool?)TempData["Message_1"]==true)
{
    <script>
        window.onload = function () {
            alert("لا يمكنك أنشاء أكثر من "+@Model.Count+" محل");
        };
    </script>
}

@if ((bool?)TempData["Message_2"]==true)
{
    <script>
        window.onload = function () {
            alert("يجب حذف جميع منتجات المحل قبل تعديل نوعه");
        };
    </script>
}