@addTagHelper *,Mahalak
@{
  ViewData["Title"] = "Home Page";
}

@model List<GetAllPaginatedShopsWithFilterDTO>

<section>
    <div class="container pb-5">

   <div class="col-lg-6 text-center container">
      <form name="Search" class="row" method="post">
         <div class="container @ViewBag.SearchSize g-3 mb-2">
        <select id="ddlCategories" class="form-select me-2" name="CategoryID" asp-items="ViewBag.categories">
          <option value="0">-Select-</option>
        </select>
         </div>

          <div class="container @ViewBag.SearchSize g-3 mb-2">
        <select id="ddlCountries" class="form-select me-2" name="CountryID" asp-items="ViewBag.countries">
          <option value="0">-Select-</option>
        </select>
          </div>
        @if (TempData["CountryID"] != null && Convert.ToInt32(TempData["CountryID"]) != 0 )
        { 
          <div class="container @ViewBag.SearchSize g-3 mb-2">
          <select id="ddlCities" class="form-select me-2" name="CityID" asp-items="ViewBag.cities">
            <option value="0">-Select-</option>
          </select>
          </div>
          @if (TempData["CityID"] != null&& Convert.ToInt32(TempData["CityID"]) != 0 )
          { <div class="container @ViewBag.SearchSize g-3 mb-2">
            <select id="ddAreas" class="form-select me-2" name="AreaID" asp-items="ViewBag.areas">
              <option value="0">-Select-</option>
            </select>
            </div>
          }
<a class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
          asp-controller="shop" asp-action="cancelSearch">إلغاء</a>

        }

      </form>
    </div>


      <div class="row">
      @foreach (var shop in Model)
      {
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch justify-content-center my-5">
          <div class="shop" style="width: 18rem;">
            <img src="~/images/shop.jpg"  alt="واجهة المحل">
            <div class="shop-body">
              <h6 class="shop-title">@shop.Name &nbsp;
            @if (@shop.Distinctive == true)
            {
              <span class="shop-distinctive">مميز </span>
            }
            </h6>
               <p>@await Component.InvokeAsync("StarRatings", @shop.ID)</p>
            <p>@shop.TotalRaters شخص</p>
            <a a href="/shop/details/@shop.ID" class="btn btn-danger">دخول</a>
            </div>
          </div>
        </div>
}
@if(ViewBag.ShopsCount!=0){
      <vc:pagination page-size="9" list-length="@ViewBag.ShopsCount" action-name="viewForCustumers" controller-name="shop">
      </vc:pagination>}
      </div>

    </div>
  </section>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
      $("body").on("change", "#ddlCategories", function () {
        document.forms["Search"].submit();
      });

      $("body").on("change", "#ddlCountries", function () {
        document.forms["Search"].submit();
      });

      $("body").on("change", "#ddlCities", function () {
        document.forms["Search"].submit();
      });

      $("body").on("change", "#ddAreas", function () {
        document.forms["Search"].submit();
      });

    </script>