@model GetAllProductDetailsByIdDTO
<style>

  .left {
    background-color: Black;
    padding: 20px;
  }

  .mainSide {
    background-color: Black;
    padding: 20px;
  }

</style>


<div class="row pb-5">

  <div id="carouselExampleIndicators" class="bg-dark col-lg-9 col-sm-12 p-3 carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
        aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="~/images/ProductImages/@Model.Images?[0].Name" class="d-block" style="width:100%; height:600px;"
          alt="...">
      </div>
      <div class="carousel-item">
        <img src="~/images/ProductImages/@Model.Images?[1].Name" class="d-block" style="width:100%; height:600px;"
          alt="...">
      </div>
      <div class="carousel-item">
        <img src="~/images/ProductImages/@Model.Images?[2].Name" class="d-block" style="width:100%; height:600px;"
          alt="...">
      </div>
            <div class="carousel-item">
        <img src="~/images/ProductImages/@Model.Images?[3].Name" class="d-block" style="width:100%; height:600px;"
          alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="bg-dark card col-lg-3 col-sm-12 pt-lg-0 h-50">
    <div class="card-body">
    <h4 class="card-title">@Model.Name</h4>
    <p class="card-text">السعر : @Model.Price جنيه</p>
    <p class="card-text">النوع : @Model.Category?.Name</p>
    <p class="card-text">الحالة : @Model.Condition?.Name</p>
    </div>
  </div>

  <br />
  <br />

  <div class="bg-dark col-lg-9 col-sm-12 p-3">
    <h1>الوصف :</h1>
    <p class="details"> @Model.Describtion </p>
  </div>

</div>