@addTagHelper *,Mahalak
@{
    ViewData["Title"] = "Home Page";
}
@model List<GetAllPaginatedProductsByShopIdDTO>
<div class="text-center">
    <table class="table table-responsive table-dark table-hover">
        <caption class="caption-top">
   <a class="btn btn-primary" href="/product/create/"
   >أضف منتج جديد لهذا المحل</a>
</caption>
        <thead>
            <th scope="col">#</th>
            <th scope="col">أسم المنتج</th>
            <th scope="col">السعر</th>
            <th scope="col">الحالة</th>
            <th scope="col">تاريخ الأضافة</th>
            <th></th>
        </thead>
        <tbody>

            @{
                int count=0;
                foreach (var product in Model)
            {
                count++;
                <tr>
                    <th scope="row">@count</th>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                  @{
                        if (@product.Status == string.Empty)
                        {
                          <td>فى أنتظار الموافقة</td>
                        }
                        else
                        {
                            <td>@product.Status</td>
                        }

                    }
                          

                    <td>@product.AddingDate</td>

                    <td><a class="btn btn-danger mb-1"
                           href="/product/details/@product.ID">عرض</a>
                        <a class="btn btn-danger mb-1" 
                           href="/product/edit/@product.ID">تعديل</a>
                        <a class="btn btn-danger mb-1"
                           href="/product/delete/@product.ID"
                           onclick="return confirm('هل أنت متأكد من أنك تريد حذف هذا المنتج ؟')">حذف</a>
                    </td>
                </tr>
            }
            }
        </tbody>
    </table>
</div>
@if(ViewBag.ProductsCount!=0){
 <vc:pagination page-size="9" list-length="@ViewBag.ProductsCount" action-name="@ViewBag.ShopID" controller-name="products">
 </vc:pagination> }
